// HPC-specific configuration for SLURM clusters
// Usage: nextflow run main.nf -c conf/slurm.config
workDir = '/scratch/alpine/dcking@colostate.edu/nextflow_work'
trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

// Override default parameters for HPC
params {
    max_cpus = 16
    max_memory = '61440.MB'
    max_time = '1.h'
}

process {
    executor = 'slurm'
    queue = 'amilan'  // CHANGE THIS to your cluster's queue name
    clusterOptions = '--qos=normal'  
    maxForks = 10

    // Let running jobs finish, but don't start new ones on failure
    errorStrategy = 'finish'
    maxRetries = 0

    // Use scratch directory for temp files
    scratch = '$SLURM_SCRATCH'

    // Load modules and activate conda before running
    beforeScript = '''
        module purge
        module load miniforge
        conda activate variant-calling
    '''.stripIndent()

    // HPC-specific resource allocations
    withLabel: 'basic' {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }

    withLabel: 'download' {
        cpus = 2
        memory = '4.GB'
        time = '8.h'
    }

    withLabel: 'fasterq_dump' {
        cpus = 16
        memory = '64.GB'
        time = '12.h'
    }

    withLabel: 'fastp' {
        cpus = 8
        memory = '30720.MB'
        time = '1m'
    }

    withLabel: 'bwa_index' {
        cpus = 8
        memory = '30.GB'
        time = '20m'
    }

    withLabel: 'bwa_mem' {
        cpus = 16
        memory = '60.GB'
        time = '5.m'
    }

    withLabel: 'samsort' {
        cpus = 16
        memory = '60.GB'
        time = '1.m'
    }

    withLabel: 'markdups' {
        cpus = 8
        memory = '30.GB'
        time = '20.m'
    }

    withLabel: 'gatk' {
        cpus = 8
        memory = '30.GB'
        time = '20.m'
    }

    withLabel: 'mpileup' {
        cpus = 8
        memory = '30.GB'
        time = '1.h'
    }

    withLabel: 'varscan' {
        cpus = 4
        memory = '15.GB'
        time = '1.h'
    }
}

// HPC execution settings
executor {
    queueSize = 50
    submitRateLimit = '10 sec'
}
